@model MyDynastyHomesAuth.Models.MyHous
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Details";
}

<h2>House Details</h2>


<h4>My House</h4>
<table class="table">
    <tr>

        <th>
            City
        </th>
        <th>
            Lot Size
        </th>
        <th>
            Square Footage
        </th>
        <th>
            Stories
        </th>
        <th>
            Bedrooms
        </th>
        <th>
            Bathrooms
        </th>
        <th>
            Total Cost
        </th>
        <th>
            Bathroom Costs
        </th>
        <th>
            Exterior Costs
        </th>
        <th>
            Interior Costs
        </th>
        <th>
            Kitchen Costs
        </th>
        <th>
            Utility Costs
        </th>
        <th></th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(model => model.City)
        </td>
        <td>
            @Html.DisplayFor(model => model.LotSize)
        </td>
        <td>
            @Html.DisplayFor(model => model.SquareFootage)
        </td>
        <td>
            @Html.DisplayFor(model => model.Stories)
        </td>
        <td>
            @Html.DisplayFor(model => model.BedroomCount)
        </td>
        <td>
            @Html.DisplayFor(model => model.BathroomCount)
        </td>
        <td>
            @Html.DisplayFor(model => model.RenovationCost)
        </td>
        <td>
            @Html.DisplayFor(model => model.BathroomCost)<br />
            <div class="dropdown">
                <button onclick="bathroomFunction()" class="dropbtn">Options</button>
                <div id="bathroomDropdown" class="dropdown-content">
                    <a href="https://localhost:44314/MyHous/BathroomsCost/5">Create</a>
                    <a href="https://localhost:44314/MyHous/EditBathroom/5">Edit</a>
                    <a href="https://localhost:44314/MyHous/DeleteBathroom/5">Delete</a>
                    <a href="https://localhost:44314/MyHous/BathroomDetails/5">Details</a>
                </div>
            </div>
        </td>
        <td>
            @Html.DisplayFor(model => model.ExteriorCost)<br />
            <div class="dropdown">
                <button onclick="exteriorFunction()" class="dropbtn">Options</button>
                <div id="exteriorDropdown" class="dropdown-content">
                    <a href="https://localhost:44314/MyHous/ExteriorCost/5">Create</a>
                    <a href="https://localhost:44314/MyHous/EditExterior/5">Edit</a>
                    <a href="https://localhost:44314/MyHous/DeleteExterior/5">Delete</a>
                    <a href="https://localhost:44314/MyHous/ExteriorDetails/5">Details</a>
                </div>
            </div>

        </td>
        <td>
            @Html.DisplayFor(model => model.InteriorCost)<br />
            <div class="dropdown">
                <button onclick="interiorFunction()" class="dropbtn">Options</button>
                <div id="interiorDropdown" class="dropdown-content">
                    <a href="https://localhost:44314/MyHous/InteriorCost/5">Create</a>
                    <a href="https://localhost:44314/MyHous/EditInterior/5">Edit</a>
                    <a href="https://localhost:44314/MyHous/DeleteInterior/5">Delete</a>
                    <a href="https://localhost:44314/MyHous/InteriorDetails/5">Details</a>
                </div>
            </div>

        </td>
        <td>
            @Html.DisplayFor(model => model.KitchenCost)<br />
            <div class="dropdown">
                <button onclick="kitchenFunction()" class="dropbtn">Options</button>
                <div id="kitchenDropdown" class="dropdown-content">
                    <a href="https://localhost:44314/MyHous/KitchenCost/5">Create</a>
                    <a href="https://localhost:44314/MyHous/EditKitchen/5">Edit</a>
                    <a href="https://localhost:44314/MyHous/DeleteKitchen/5">Delete</a>
                    <a href="https://localhost:44314/MyHous/KitchenDetails/5">Details</a>
                </div>
            </div>
        </td>
        <td>
            @Html.DisplayFor(model => model.UtilitiesCost)<br />
            <div class="dropdown">
                <button onclick="utilityFunction()" class="dropbtn">Options</button>
                <div id="utilityDropdown" class="dropdown-content">
                    <a href="https://localhost:44314/MyHous/UtilitiesCost/5">Create</a>
                    <a href="https://localhost:44314/MyHous/EditUtility/5">Edit</a>
                    <a href="https://localhost:44314/MyHous/DeleteUtility/5">Delete</a>
                    <a href="https://localhost:44314/MyHous/UtilityDetails/5">Details</a>
                </div>
            </div>
        </td>

    </tr>
  

</table>

