@model MyDynastyHomesAuth.Models.RepairMultiplier

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RepairMultiplier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BathroomSink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BathroomSink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Toilet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toilet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shower)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shower)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Window)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Window)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SidingPerSQFT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SidingPerSQFT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roof)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roof)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoundationWall)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoundationWall)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExteriorDoor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExteriorDoor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TreeRemoval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreeRemoval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaintPerRoom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaintPerRoom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrywallPerSQFT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrywallPerSQFT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FloorsPerSQFT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FloorsPerSQFT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LightFixture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LightFixture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Baseboards)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baseboards)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubfloorPerSQFT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubfloorPerSQFT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Refrigerator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Refrigerator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Oven)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oven)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Microwave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Microwave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dishwasher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dishwasher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GarbageDisposal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GarbageDisposal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cabinet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cabinet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CounterTopsPerSQFT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CounterTopsPerSQFT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KitchenSink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KitchenSink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FurnacePerStory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FurnacePerStory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirConditioningUnitPerStory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirConditioningUnitPerStory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HotWaterHeater)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotWaterHeater)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Electric)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Electric)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plumbing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plumbing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sewer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sewer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
